.App {
  text-align: center;
}

.logo_img{
  width: 40px;
}
.profile_img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.d-flex{
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; 

  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.custom-left {
  display: flex;
  align-items: center;
}

.custom-left img {
  margin-right: 10px;
}

.file-input {
  border: none;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

label[for="resumeUpload"] {
 background-color:rgb(238, 247, 238);
  color: #000;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

label[for="resumeUpload"]:hover {
  background-color:rgb(238, 247, 238);
}

.custom-file-upload {
 background-color:rgb(238, 247, 238);
  color: #000;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 100%; 
}

.custom-file-upload:hover {
 background-color:rgb(238, 247, 238);
}

.form-control-file {
  display: none; 
}
.custom-input-group {
  width: 100%; 
  border: none; 
  border-radius: 0; 
}
/* dd */
/* CustomDropdown.css */

.custom-dropdown {
  width: 100%; 
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selected-option {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow-icon {
  margin-left: 5px;
  font-size: 16px;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 150px;
  overflow-y: auto;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.option:hover {
  background-color: #dcdcdc; 
}

.open .dropdown-options {
  display: block;
  z-index: 99;
}
.custom-button {
  width: 100%; 
  border-radius: 20px; 
}
.custom-button-span {
  display: inline-block;
  padding: 4px 6px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 16px;
  margin: 1px;
  font-size: 10px;
}
.pdf-container {
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
}
.modal-90w {
  max-width: 90%;
}

.modal-body {
  max-height: calc(100vh - 200px); 
  overflow-y: auto;
}
.user-info.ml-3 {
  padding-left: 10px;
}

.custom-card {
  background-color: rgba(211, 211, 211, 0.6); 
  padding: 10px;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.custom-card:hover {
  background-color: rgba(211, 211, 211, 0.9); 
  transition: background-color 0.3s ease-in-out;
}
.custom-card-outer {
  background-color: rgba(211, 211, 211, 0.8); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.custom-card:hover {
  background-color: rgba(211, 211, 211, 1);
  transition: background-color 0.3s ease-in-out;
}
.modal-open{
  cursor: pointer;
}